{% extends "brbase.html" %} {% block body %}
{% if session['random'] and session['status'] == "accepted" %}
    <div class="container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center" style="background-image: url(/static/img/3.jpg);background-position: center;background-size: cover;">
        <div class="container col">
            <div class="row">
                <h1 class="text-white">your application is accepted. and to active your account,<br> verify by code to send your register email.
                </h1>
             </div>
             <div class="row">
                
                     <!-- Button trigger modal -->
                     <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModalToggle_v" href="#verify">
                         verify to click here.
                     </a>
                 
             </div>
                 <div class="row">
                     <p class="text-warning">note: after verification please login again...</p>
                 </div>
        </div>
            
            
    
    
        <!-- virefication -->
        <div class="modal fade" id="exampleModalToggle_v" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalToggleLabel">
                            <center> verification </center>
                        </h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
    
    
                        <form action="branch/verification" method="POST" class="row g-3 ">
    
                            <div class="col-12 ">
                                <label for="inputEmail4 " class="form-label d-flex ">verification code: <span style="color: red;">*</span></label>
                                <input type="text " class="form-control " placeholder="********" name="random" required>
                            </div>
                            <div class="col-12 ">
                                <center>
                                    <button type="submit " class="btn btn-primary ">Apply</button>
                                </center>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elif session['status'] == "accepted" and session['random'] == "" %}

    <div class="container-fluid vh-100" style="background-image: url(/static/img/3.jpg);background-position: center;background-size: cover;"><br><br><br>


    <br> {% if contacts %} 
    <table class="table table-responsive table-sm text-dark">

        
        <thead>
            <tr>
                <td class="text-dark"><b>Courier Details</b> </td>
                <td class="text-dark"><b>Sender Details</b></td>
                <td class="text-dark"><b>Receiver Details</b></td>
                <td class="text-dark"><b>Ship to</b></td>
            </tr>
        </thead>
        
        <tbody class="text-dark">
            {% for contact in contacts %}
            <tr>
                <td>Tracking No :&nbsp;&nbsp;&nbsp; {{ contact.tid }} <br>
                    weight  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;{{ contact.weight}} <br>
                    status &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp; {{ contact.status}} <br>
                    price &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp; {{ contact.price }}
                </td>
                <td>
                    {{ contact.s_name }} <br>
                    {{ contact.s_num }} <br>
                    {{ contact.s_add}} <br>
                    {{ contact.s_city}} <br>
                    {{ contact.s_state}} -
                    {{ contact.s_zip}}
                </td>
                <td> {{ contact.r_name }} <br>
                    {{ contact.r_num }} <br>
                    {{ contact.r_add}} <br>
                    {{ contact.r_city}} <br>
                    {{ contact.r_state}} -
                    {{ contact.r_zip}}</td>
                <td>
                    <form action="branch/update_city" method="POST" class="row g-3">
                            <!-- <label for="inputState " class="form-label ">City</label> -->
                            <div class="d-flex justify-content-evenly" style="width: 80%;">
                                <select id="inputState " class="form-select " name="city">
                                    {% for c in con %}
                                    <option selected>{{c.city}}</option>
                                    {% endfor %}    
                                    </select>
                                <button class="btn btn-primary d-flex justify-content-evenly mx-4" style="width: 20%;" type="submit">submit</button>

                            </div>
                            
                            <input type="hidden" name="tid" value={{ contact.tid }}>
                            <div class="d-flex justify-content-evenly">
                            </div>
                    </form>
                </td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
<br> {% else %}<div class="d-flex justify-content-evenly align-items- text-dark"><h1>No Transport Available</h1></div>{% endif %}
</div>

{% elif session['status']=="decline" %}
    <div class="container-fluid vh-100" style="background-image: url(/static/img/3.jpg);background-position: center;background-size: cover;">
        <h1>
            Welcome to Courier Management System,mr/mrs {{session['first_name']}}<br> your application is decline.

            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" href="#profile">resubmit</a>

        </h1>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, reiciendis magnam! Ducimus atque delectus nulla temporibus molestias? Perferendis eligendi quasi fuga blanditiis, adipisci facilis temporibus quis, quia deserunt ad iure.</p>
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalToggleLabel">
                        <center> COURIER BOY APPLICATION </center>
                    </h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <form action="branch/resubmit" method="POST" class="row g-3 ">

                        <div class="col-md-6 ">
                            <label for="inputEmail4 " class="form-label ">First name <span style="color: red;">*</span></label>
                            <input type="text " class="form-control " placeholder="First name " aria-label="First name " name="first_name" required onkeypress="return a(event);" value={{ session[ 'first_name'] }}>
                        </div>
                        <div class=" col-md-6 ">
                            <label for="inputEmail4 " class="form-label ">Last name <span style="color: red; ">*</span></label>

                            <input type="text " class="form-control " placeholder="Last name " aria-label="Last name " name="last_name" required onkeypress="return a(event); " value={{ session[ 'last_name'] }}>
                        </div>

                        <div class="col-md-6 ">
                            <label for="inputEmail4 " class="form-label ">Email <span style="color: red; ">*</span></label>
                            <input type="email " class="form-control " id="inputEmail4 " placeholder="Example@gmail.com " name="email" required value={{ session[ 'email'] }}>
                        </div>

                        <div class="col-md-6 ">
                            <label for="inputPassword4 " class="form-label ">Phone number <span style="color: red; ">*</span></label>
                            <input type="text " class="form-control " id="inputPassword4 " placeholder="+91 12345 67890 " name="phone" required onkeypress="return event.charCode>=48 && event.charCode<=57 " value={{ session[ 'phone'] }}>
                        </div>
                        <div class="col-md-6 ">
                            <label class="form-label ">Password <span style="color: red; ">*</span></label>
                            <input type="password" class="form-control " placeholder="Enter password " name="password" required value={{ session[ 'password'] }}>
                        </div>
                        <div class="col-md-6 ">
                            <label for="inputState " class="form-label ">City</label>
                            <select id="inputState " class="form-select " name="city" value={{ session[ 'city'] }}>
                                <option selected>Bagalkot</option>
                                <option>Bellary</option>
                                <option>Bangalore Rural</option>
                                <option>Bangalore Urban</option>
                                <option>Bidar</option>
                                <option>Chamarajanagar</option>
                                <option>Chikballapur</option>
                                <option>Chikmagalur</option>
                                <option>Chitradurga</option>
                                <option>Dakshina Kannada</option>
                                <option>Davangere</option>
                                <option>Dharwad</option>
                                <option>Gadag</option>
                                <option>Hassan</option>
                                <option>Haveri</option>
                                <option>Kalaburagi </option>
                                <option>Kodagu</option>
                                <option>Kolar</option>
                                <option>Koppal</option>
                                <option>Mandya</option>
                                <option>Mysore</option>
                                <option>Raichur</option>
                                <option>Ramanagara</option>
                                <option>Shivamogga </option>
                                <option>Tumkur</option>
                                <option>Udupi</option>
                                <option>Uttara Kannada</option>
                                <option>Vijayapura </option>
                                <option>Yadgir</option>

                                </select>
                        </div>
                        <div class="col-12 ">
                            <label for="inputAddress " class="form-label ">Address <span style="color: red; ">*</span></label>
                            <textarea class="form-control " id="floatingTextarea " name="address" required>{{ session[ 'address'] }}</textarea>
                        </div>



                        <div class="col-12 ">
                            <center>
                                <button type="submit " class="btn btn-primary ">Apply</button>

                            </center>
                        </div>
                    </form>
                </div>
                <div class=" modal-footer ">
                    <button class="btn btn-primary " data-bs-target="#logout " data-bs-toggle="modal " data-bs-dismiss="modal ">back</button>
                </div>
            </div>
        </div>
    </div>
    </div>

{%else %}
    <div class="container-fluid vh-100 d-flex justify-content-center align-items-center" style="background-image: url(/static/img/3.jpg);background-position: center;background-size: cover;">
        <h1>
        <h1 class="text-dark">
            Welcome to Courier Management System,mr/mrs {{session['first_name']}}<br> your application is in being proccess...
        </h1>
    </div>
{% endif %}

    <!-- profile -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered" >
            <div class="modal-content" style="background: rgba(226, 229, 236, 0.774);">
                <div class="modal-header ">
                    <h2 class="modal-title" id="exampleModalToggleLabel"><i class="fa fa-address-book-o"></i> Profile</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <form>
                        <fieldset disabled>
                            <div class="row ">
                                <div class="col-6 ">
                                    <label for="disabledTextInput" class="form-label "><i class="fa fa-user"></i> Name</label>
                                    <input type="text " id="disabledTextInput " class="form-control " placeholder={{ session[ 'first_name'] }}>
                                </div>
                                <div class="col-6 mb-3 ">
                                    <label for="disabledTextInput " class="form-label "><i class="fa fa-phone"></i> phone number</label>
                                    <input type="text " id="disabledTextInput " class="form-control " placeholder={{ session[ 'phone'] }}>
                                </div>
                                <div class="col-6 mb-3 ">
                                    <label for="disabledTextInput" class="form-label "><i class="fa fa-envelope"></i> Email</label>
                                    <input type="email " id="disabledTextInput" class="form-control " placeholder={{ session[ 'email'] }}>
    
                                </div>
                                <div class="col-6 mb-3 ">
                                    <label for="disabledTextInput " class="form-label "><i class="fa fa-key"></i>  Password</label>
                                    <input type="password " id="disabledTextInput " class="form-control " placeholder='********' >
                                </div>
                                <div class="mb-3 ">
                                    <label for="disabledTextInput " class="form-label "><i class="fa fa-question-circle"></i> Security question</label>
                                    <input type="text " id="disabledTextInput " class="form-control " placeholder={{ session[ 'question'] }}>
                                </div>
                                <div class="mb-3 ">
                                    <label for="disabledTextInput" class="form-label "><i class="fa fa-lightbulb-o"> </i> Answer</label>
                                    <input type="password" id="disabledTextInput " class="form-control " placeholder={{ session[ 'answer'] }}>
                                </div>
                            </div>
    
                        </fieldset>
                    </form>
                </div>
                <div class=" modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}